<!doctype html>
<html lang="en">
  <head>
    <title>Content Manager</title>
    <script
      is:inline
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
  </head>

  <body>
    <script src="../scripts/cms.js"></script>
  </body>
</html>
