---
import type { GetStaticPaths, MarkdownInstance } from "astro";
import MainLayout from "@/layouts/MainLayout.astro";
import CTA from "@components/CTA.astro";

import { languages, useTranslations } from "@/i18n";

export const getStaticPaths = (() => {
  return languages.map(({ id }) => ({
    params: { locale: id },
  }));
}) satisfies GetStaticPaths;

const { locale } = Astro.params;

type HomeSection = MarkdownInstance<{ lang: "id" | "en"; order: number }>;

const homeSections = Object.values(
  import.meta.glob<HomeSection>("@/content/home/**/*.mdx", { eager: true }),
)
  .filter((s) => s.frontmatter.lang === locale)
  .sort((a, b) => a.frontmatter.order - b.frontmatter.order);

const t = useTranslations(locale);
---

<MainLayout
  title={t("page.home.title")}
  description="Welcome to Efraim's personal little corner of the internet!">
  <section class="hero full-columns">
    <div class="hero__text">
      <h1>{t("page.home.hero.greeting")}</h1>
      <p>{t("page.home.hero.p")}</p>
    </div>
    <div class="hero__cta">
      <CTA href="#projects">{t("page.home.hero.projects")}</CTA>
      <CTA href="#contact" primary>{t("page.home.hero.contact")}</CTA>
    </div>
  </section>

  {homeSections.map(({ Content }) => <Content />)}

  <section class="main-section full-columns" id="contact">
    <h2>
      {t("page.home.contact.title")}
    </h2>
    <p>{t("page.home.contact.p")}</p>

    <form
      class="contact-form"
      action="/form-success"
      method="POST"
      data-netlify="true">
      <label for="name">{t("page.home.contact.label-name")}</label>
      <input type="text" name="name" placeholder="John Doe" required />

      <label for="email">{t("page.home.contact.label-email")}</label>
      <input
        type="email"
        name="email"
        placeholder="johndoe420@mail.com"
        required
      />

      <label for="message">{t("page.home.contact.label-message")}</label>
      <textarea
        id="message"
        name="message"
        maxlength="2000"
        minlength="6"
        placeholder="Hi!!!"></textarea>

      <div class="cta-container">
        <CTA isButton primary margin>
          {t("page.home.contact.send-cta")}
        </CTA>
      </div>
    </form>
  </section>
</MainLayout>

<script src="@/scripts/observer.ts"></script>

<style is:global>
  .main-section {
    background: var(--background);
    padding-block: 2.5rem;
  }

  .main-section > .hidden {
    opacity: 0;
    transform: translateY(5%);

    @media screen and (prefers-reduced-motion) {
      transform: none;
    }
  }

  .main-section > * {
    transition:
      opacity var(--transition-slow),
      transform var(--transition-slow);
  }

  .hero {
    padding-block: 10rem 5rem;
    color: var(--text);
    position: relative;
  }

  .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    mask-image: linear-gradient(black, transparent);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  body[data-theme="light"] .hero::before {
    background-image: url("bg-light.svg");
  }

  body[data-theme="dark"] .hero::before {
    background-image: url("bg.svg");
  }

  .hero__text {
    color: var(--text);
    text-align: center;
    z-index: 1;
    flex: 1 1 0;
    margin-inline: 5rem;
  }

  .hero__text h1 {
    font-size: min(4.5rem, 8vmin);

    line-height: 0.9;
    margin-inline: auto;
    margin-block: 0;
    position: relative;
  }

  /* hand wave */
  .hero__text h1::after {
    content: "👋";
    size: 5rem;
    position: absolute;
    animation: wave 1200ms cubic-bezier(0.22, 0.61, 0.36, 1) 1000ms;
    transform-origin: 65% 75%;
  }

  @keyframes wave {
    from {
      rotate: 0deg;
    }
    25%,
    75% {
      rotate: 30deg;
    }
    50% {
      rotate: 0deg;
    }
    to {
      rotate: 0deg;
    }
  }

  .hero__cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .hero__cta a {
    text-align: center;
  }

  .projects-container {
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: subgrid;
    row-gap: 1rem;
  }

  /* contact */
  .contact-form :is(label, input, textarea) {
    display: block;
  }

  .contact-form label {
    padding: 1rem 0;
  }

  .contact-form :is(input, textarea) {
    width: 100%;
    padding: 1rem;
  }

  .contact-form textarea {
    resize: vertical;
  }
</style>
