---
import type { GetStaticPaths } from "astro";
import MainLayout from "@/layouts/MainLayout.astro";
import CTA from "@components/CTA.astro";
import TechChip from "@/components/TechChip.astro";
import BlogPost from "@components/BlogPost.astro";
import ProjectCard from "@/components/ProjectCard.astro";

import { sortPostsByDate } from "@/scripts/utils.js";
import { getCollection } from "astro:content";
import { languages } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";

const title = "Efraim Munthe | Home";

interface Project {
  demo_link?: string;
  source_link: string;
  image: string;
  alt: string;
  heading: string;
  text: string;
}

const projects: Project[] = [
  {
    source_link: "https://github.com/Klrfl/Sebastian-Sidebar",
    demo_link: "https://klrfl.github.io/Sebastian-Sidebar",
    image: "Sebastian Sidebar.png",
    alt: "Screenshot of Sebastian Sidebar's landing page",
    heading: "Sebastian Sidebar",
    text: "This is an improved version of my first static site. Looks quite similar.",
  },
  {
    demo_link: "https://klrfl.github.io/suwit-jawa",
    source_link: "https://github.com/Klrfl/suwit-jawa",
    image: "Suwit Jawa by Klrfl.png",
    alt: "Screenshot of my Suwit Jawa game",
    heading: "Suwit Jawa in JS",
    text: "Suwit Jawa game I made in JS.",
  },
  {
    demo_link: "https://pplgportfolio.netlify.app",
    source_link: "https://github.com/Klrfl/pplg-portfolio",
    image: "X PPLG Portofolio Landing Page.png",
    alt: "PPLG Portfolio collection landing page",
    heading: "PPLG Portfolio landing page.",
    text: "A collection of portfolios of my friends at PPLG. I designed the layout of this landing page, and made the search filter feature.",
  },
  {
    demo_link: "https://klrfl-moviesearch.netlify.app",
    source_link: "https://github.com/Klrfl/movie-search",
    image: "react-movie-search.png",
    alt: "Screenshot of my first React app, React Movie Search",
    heading: "React Movie Search",
    text: "I was bored and decided to learn React. This is just some simple API fetching stuff.",
  },
  {
    demo_link: "https://klrfl-url-shortener.netlify.app",
    source_link: "https://github.com/Klrfl/url-shortener",
    image: "url-shortener.png",
    alt: "Screenshot of my URL Shortener app.",
    heading: "Vue URL Shortener",
    text: "My first Vue project I used to get to know the Vue router and state management (spoiler alert: there was no state management).",
  },
  {
    demo_link: "https://telltime.netlify.app",
    source_link: "https://github.com/klrfl/TellTime",
    image: "telltime.png",
    alt: "Screenshot of TellTime",
    heading: "TellTime",
    text: "My project-based learning application. It's a timer app with a clock, timer, and stopwatch.",
  },
  {
    demo_link: "https://pinia-tasks-2b2da.web.app/",
    source_link: "https://github.com/Klrfl/pinia-tasks",
    image: "pinia-tasks.png",
    alt: "Home page of Pinia Tasks",
    heading: "Pinia Tasks",
    text: "A classic todo app made with Vue and Pinia for state management, powered by Firebase for authentication and hosting.",
  },
  {
    source_link: "https://github.com/klrfl/mekdi",
    image: "mekdi.png",
    alt: "Mekdi homepage",
    heading: "Mekdi",
    text: "is a small and simple CRUD application, made with Go (no router!) and HTMX.",
  },
  {
    source_link: "https://github.com/pplg-smkmetland/metschoo-library",
    demo_link: "https://metschoo-lib-preview.netlify.app",
    image: "metschoo-library-new.png",
    alt: "Metschoo library homepage",
    heading: "Metschoo Library",
    text: "(WIP) Metschoo Library is a SPA made with Vue and Supabase to manage borrowings in the SMK Metland library.",
  },
  {
    demo_link: "https://feedback.munthe.dev/",
    source_link: "https://github.com/klrfl/product-feedback",
    image: "product-feedback.png",
    alt: "Product feedback landing page",
    heading: "Product Feedback",
    text: "Post your suggestions to improve the app on this app! This is my first fully self-hosted (as in set up everything by myself) project, made possible by Astro, Kysely and better-auth.",
  },
  {
    demo_link: "https://notia.munthe.dev/",
    source_link: "https://github.com/klrfl/notia",
    image: "notia.png",
    alt: "Notia's homepage",
    heading: "Notia",
    text: "A simple no-hassle local-only notetaking app",
  },
  {
    source_link: "https://github.com/klrfl/velvet-cup",
    image: "velvet-cup.png",
    alt: "Velvet Cup's homepage",
    heading: "Velvet Cup",
    text: "Velvet cup is an ecommerce app where you can order coffee, tea, croissant, and other delicious menu items. Built with Astro and Vue, fully integrated with my own custom fork of the official Midtrans client.",
  },
];

const allPosts = await getCollection("blog");
const sortedPosts = sortPostsByDate(allPosts, 3);

export const getStaticPaths = (() => {
  return languages.map(({ id }) => ({
    params: { locale: id },
  }));
}) satisfies GetStaticPaths;

const { locale } = Astro.params;
---

<MainLayout
  title={title}
  description="Welcome to Efraim's personal little corner of the internet!">
  <script
    slot="script"
    src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <section class="hero full-columns">
    <div class="hero__text">
      <h1>Hello! I'm Efraim.<span class="hero-wave">👋</span></h1>
      <p>
        I'm a student, frontend web developer, tech enthusiast and avid learner.
      </p>
    </div>
    <div class="hero__cta">
      <CTA href="#projects">See what i've made</CTA>
      <CTA href="#contact" primary>Contact me</CTA>
    </div>
  </section>

  <section class="main-section full-columns" id="skills">
    <h2>Skills</h2>
    <p>
      In the last 2 and a half years, I have learned and used many different
      technologies in the frontend world. I am proficient in <TechChip>
        HTML
      </TechChip>, <TechChip>CSS</TechChip>, and <TechChip>
        JavaScript
      </TechChip>, and have experience using <TechChip
        href="https://astro.build">
        Astro
      </TechChip>, <TechChip href="https://vuejs.org">Vue</TechChip> and more
      recently <TechChip href="https://tailwindcss.com">Tailwind</TechChip>
       and <TechChip href="https://react.dev">React</TechChip>. Outside of web
      development, I have experience writing <TechChip>Lua</TechChip> in Roblox
      Studio, and I also learned a little bit of <TechChip>Python</TechChip> and


      <TechChip>C</TechChip>.
    </p>

    <p>
      Even though my learning experience is primarily on the frontend side, I
      have experience in fullstack PAASes such as <TechChip
        href="https://firebase.google.com">
        Firebase
      </TechChip> and <TechChip href="https://supabase.com">Supabase</TechChip>,
      and even backend technologies such as <TechChip href="https://go.dev">
        Go
      </TechChip>
       and <TechChip href="https://postgresql.org">PostgreSQL</TechChip>.
    </p>
  </section>

  <section class="main-section full-columns" id="projects">
    <h2>Projects</h2>
    <p>
      I strongly believe in learning by doing. So, when I learn a new
      technology, I always do projects, be it large or small. Here are some of
      them.
    </p>

    <ul class="projects-container odd-columns">
      {projects.map((project) => <ProjectCard {project} />)}
    </ul>
  </section>

  <section class="main-section full-columns" id="blog">
    <h2>Blog Posts</h2>
    <p>The newest posts from my personal blog.</p>

    <ul class="blog-list">
      {
        sortedPosts.map((post) => (
          <BlogPost
            {post}
            slug={getRelativeLocaleUrl(locale, `blog/${post.slug}`)}
          />
        ))
      }
    </ul>

    <div class="cta-container">
      <CTA href={getRelativeLocaleUrl(locale, "blog")} margin>
        See more blog posts
      </CTA>
    </div>
  </section>

  <section class="main-section full-columns" id="about">
    <h2>About me</h2>
    <p>
      My name is Efraim Munthe, I am a student currently learning about
      front-end web development and the JAMStack. I also recently got into
      backend web development, dabbling in NodeJS, PostgreSQL and Express. I
      haven't learned much about them, so I haven't put them into my skills yet.
    </p>

    <div class="cta-container">
      <CTA href={getRelativeLocaleUrl(locale, "about")} primary margin>
        See more about me
      </CTA>
    </div>
  </section>

  <section class="main-section full-columns" id="contact">
    <h2>Contact</h2>
    <p>
      You can contact me via email or Discord, but you can message me here
      directly if you want!
    </p>

    <form
      class="contact-form"
      action="/form-success"
      method="POST"
      data-netlify="true">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="John Doe" required />

      <label for="email">Your Email</label>
      <input
        type="email"
        name="email"
        placeholder="johndoe420@mail.com"
        required
      />

      <label for="message">Your message</label>
      <textarea
        id="message"
        name="message"
        maxlength="2000"
        minlength="6"
        placeholder="Hi!!!"></textarea>

      <div class="cta-container">
        <CTA isButton primary margin>Send a message</CTA>
      </div>
    </form>
  </section>
</MainLayout>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<script src="@/scripts/observer.ts"></script>

<style>
  .main-section {
    background: var(--background);
    padding-block: 2.5rem;
  }

  .main-section > .hidden {
    opacity: 0;
    transform: translateY(5%);

    @media screen and (prefers-reduced-motion) {
      transform: none;
    }
  }

  .main-section > * {
    transition:
      opacity var(--transition-slow),
      transform var(--transition-slow);
  }

  .hero {
    padding-block: 12rem;
    color: var(--text);

    background-size: 120vh;
    background-position: center center;
    background-repeat: no-repeat;
  }

  body[data-theme="light"] .hero {
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23eeeefa%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23c7bed8%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h100v100H0z%22%2F%3E%3Cpath fill=%22%23c7bed810%22 d=%22M100 0h100v100H100z%22%2F%3E%3Cpath fill=%22%23c7bed8a5%22 d=%22M200 0h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 0h100v100H300z%22%2F%3E%3Cpath fill=%22%23c7bed89c%22 d=%22M400 0h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 0h100v100H500z%22%2F%3E%3Cpath fill=%22%23c7bed82a%22 d=%22M600 0h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 0h100v100H700z%22%2F%3E%3Cpath fill=%22%23c7bed8fa%22 d=%22M800 0h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 0h100v100H900z%22%2F%3E%3Cpath fill=%22%23c7bed860%22 d=%22M1000 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 0h100v100h-100zM1200 0h100v100h-100zM1300 0h100v100h-100zM1400 0h100v100h-100zM1500 0h100v100h-100zM1600 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed819%22 d=%22M1700 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 0h100v100h-100zM1900 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed887%22 d=%22M0 100h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 100h100v100H100zM200 100h100v100H200z%22%2F%3E%3Cpath fill=%22%23c7bed8a7%22 d=%22M300 100h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 100h100v100H400zM500 100h100v100H500zM600 100h100v100H600zM700 100h100v100H700zM800 100h100v100H800zM900 100h100v100H900zM1000 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed8ce%22 d=%22M1100 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 100h100v100h-100zM1300 100h100v100h-100zM1400 100h100v100h-100zM1500 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed829%22 d=%22M1600 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed882%22 d=%22M1800 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed833%22 d=%22M0 200h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 200h100v100H100zM200 200h100v100H200zM300 200h100v100H300zM400 200h100v100H400z%22%2F%3E%3Cpath fill=%22%23c7bed8d0%22 d=%22M500 200h100v100H500z%22%2F%3E%3Cpath fill=%22%23c7bed827%22 d=%22M600 200h100v100H600z%22%2F%3E%3Cpath fill=%22%23c7bed8e5%22 d=%22M700 200h100v100H700z%22%2F%3E%3Cpath fill=%22%23c7bed82e%22 d=%22M800 200h100v100H800z%22%2F%3E%3Cpath fill=%22%23c7bed818%22 d=%22M900 200h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed81f%22 d=%22M1100 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 200h100v100h-100zM1300 200h100v100h-100zM1400 200h100v100h-100zM1500 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed89d%22 d=%22M1600 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 200h100v100h-100zM1800 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed86f%22 d=%22M1900 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 300h100v100H0z%22%2F%3E%3Cpath fill=%22%23c7bed87c%22 d=%22M100 300h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 300h100v100H200zM300 300h100v100H300zM400 300h100v100H400zM500 300h100v100H500zM600 300h100v100H600zM700 300h100v100H700zM800 300h100v100H800zM900 300h100v100H900zM1000 300h100v100h-100zM1100 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed82b%22 d=%22M1200 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed84b%22 d=%22M1300 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed86f%22 d=%22M1500 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed8a5%22 d=%22M1700 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 300h100v100h-100zM1900 300h100v100h-100zM0 400h100v100H0z%22%2F%3E%3Cpath fill=%22%23c7bed8c8%22 d=%22M100 400h100v100H100z%22%2F%3E%3Cpath fill=%22%23c7bed86e%22 d=%22M200 400h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 400h100v100H300z%22%2F%3E%3Cpath fill=%22%23c7bed8cd%22 d=%22M400 400h100v100H400z%22%2F%3E%3Cpath fill=%22%23c7bed83c%22 d=%22M500 400h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 400h100v100H600zM700 400h100v100H700z%22%2F%3E%3Cpath fill=%22%23c7bed89f%22 d=%22M800 400h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 400h100v100H900z%22%2F%3E%3Cpath fill=%22%23c7bed8c8%22 d=%22M1000 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed826%22 d=%22M1100 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed89a%22 d=%22M1300 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed854%22 d=%22M1500 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 400h100v100h-100zM1700 400h100v100h-100zM1800 400h100v100h-100zM1900 400h100v100h-100zM0 500h100v100H0zM100 500h100v100H100zM200 500h100v100H200zM300 500h100v100H300zM400 500h100v100H400zM500 500h100v100H500z%22%2F%3E%3Cpath fill=%22%23c7bed894%22 d=%22M600 500h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 500h100v100H700zM800 500h100v100H800z%22%2F%3E%3Cpath fill=%22%23c7bed880%22 d=%22M900 500h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 500h100v100h-100zM1100 500h100v100h-100zM1200 500h100v100h-100zM1300 500h100v100h-100zM1400 500h100v100h-100zM1500 500h100v100h-100zM1600 500h100v100h-100zM1700 500h100v100h-100zM1800 500h100v100h-100zM1900 500h100v100h-100zM0 600h100v100H0zM100 600h100v100H100zM200 600h100v100H200zM300 600h100v100H300z%22%2F%3E%3Cpath fill=%22%23c7bed8b6%22 d=%22M400 600h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 600h100v100H500zM600 600h100v100H600z%22%2F%3E%3Cpath fill=%22%23c7bed808%22 d=%22M700 600h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 600h100v100H800zM900 600h100v100H900zM1000 600h100v100h-100zM1100 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed895%22 d=%22M1200 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 600h100v100h-100zM1400 600h100v100h-100zM1500 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed826%22 d=%22M1600 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed815%22 d=%22M1700 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 600h100v100h-100zM1900 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed853%22 d=%22M0 700h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 700h100v100H100zM200 700h100v100H200zM300 700h100v100H300z%22%2F%3E%3Cpath fill=%22%23c7bed8bd%22 d=%22M400 700h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 700h100v100H500z%22%2F%3E%3Cpath fill=%22%23c7bed83d%22 d=%22M600 700h100v100H600z%22%2F%3E%3Cpath fill=%22%23c7bed890%22 d=%22M700 700h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 700h100v100H800zM900 700h100v100H900zM1000 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed8b0%22 d=%22M1100 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed8ad%22 d=%22M1200 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed82b%22 d=%22M1300 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed812%22 d=%22M1400 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 700h100v100h-100zM1600 700h100v100h-100zM1700 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed8b9%22 d=%22M1800 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed88b%22 d=%22M0 800h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 800h100v100H100zM200 800h100v100H200zM300 800h100v100H300zM400 800h100v100H400z%22%2F%3E%3Cpath fill=%22%23c7bed874%22 d=%22M500 800h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 800h100v100H600z%22%2F%3E%3Cpath fill=%22%23c7bed81b%22 d=%22M700 800h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 800h100v100H800z%22%2F%3E%3Cpath fill=%22%23c7bed854%22 d=%22M900 800h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 800h100v100h-100zM1100 800h100v100h-100zM1200 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed8fc%22 d=%22M1300 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 800h100v100h-100zM1500 800h100v100h-100zM1600 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed816%22 d=%22M1700 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed8e8%22 d=%22M1800 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed83f%22 d=%22M0 900h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 900h100v100H100zM200 900h100v100H200z%22%2F%3E%3Cpath fill=%22%23c7bed8cd%22 d=%22M300 900h100v100H300z%22%2F%3E%3Cpath fill=%22%23c7bed8ad%22 d=%22M400 900h100v100H400z%22%2F%3E%3Cpath fill=%22%23c7bed87b%22 d=%22M500 900h100v100H500z%22%2F%3E%3Cpath fill=%22%23c7bed8fa%22 d=%22M600 900h100v100H600z%22%2F%3E%3Cpath fill=%22%23c7bed872%22 d=%22M700 900h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 900h100v100H800zM900 900h100v100H900zM1000 900h100v100h-100zM1100 900h100v100h-100zM1200 900h100v100h-100zM1300 900h100v100h-100zM1400 900h100v100h-100zM1500 900h100v100h-100zM1600 900h100v100h-100zM1700 900h100v100h-100zM1800 900h100v100h-100zM1900 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed82b%22 d=%22M0 1000h100v100H0z%22%2F%3E%3Cpath fill=%22%23c7bed8dc%22 d=%22M100 1000h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 1000h100v100H200z%22%2F%3E%3Cpath fill=%22%23c7bed875%22 d=%22M300 1000h100v100H300z%22%2F%3E%3Cpath fill=%22%23c7bed847%22 d=%22M400 1000h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 1000h100v100H500z%22%2F%3E%3Cpath fill=%22%23c7bed8bc%22 d=%22M600 1000h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 1000h100v100H700z%22%2F%3E%3Cpath fill=%22%23c7bed875%22 d=%22M800 1000h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 1000h100v100H900zM1000 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed8c2%22 d=%22M1100 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 1000h100v100h-100zM1300 1000h100v100h-100zM1400 1000h100v100h-100zM1500 1000h100v100h-100zM1600 1000h100v100h-100zM1700 1000h100v100h-100zM1800 1000h100v100h-100zM1900 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed827%22 d=%22M0 1100h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 1100h100v100H100zM200 1100h100v100H200z%22%2F%3E%3Cpath fill=%22%23c7bed85c%22 d=%22M300 1100h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 1100h100v100H400zM500 1100h100v100H500zM600 1100h100v100H600zM700 1100h100v100H700zM800 1100h100v100H800zM900 1100h100v100H900z%22%2F%3E%3Cpath fill=%22%23c7bed82e%22 d=%22M1000 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed84b%22 d=%22M1100 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 1100h100v100h-100zM1300 1100h100v100h-100zM1400 1100h100v100h-100zM1500 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed881%22 d=%22M1600 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 1100h100v100h-100zM1800 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed858%22 d=%22M1900 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1200h100v100H0zM100 1200h100v100H100zM200 1200h100v100H200z%22%2F%3E%3Cpath fill=%22%23c7bed847%22 d=%22M300 1200h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 1200h100v100H400zM500 1200h100v100H500zM600 1200h100v100H600zM700 1200h100v100H700zM800 1200h100v100H800zM900 1200h100v100H900z%22%2F%3E%3Cpath fill=%22%23c7bed8ca%22 d=%22M1000 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed87f%22 d=%22M1200 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 1200h100v100h-100zM1400 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed81a%22 d=%22M1500 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed88e%22 d=%22M1600 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 1200h100v100h-100zM1800 1200h100v100h-100zM1900 1200h100v100h-100zM0 1300h100v100H0z%22%2F%3E%3Cpath fill=%22%23c7bed85f%22 d=%22M100 1300h100v100H100z%22%2F%3E%3Cpath fill=%22%23c7bed85e%22 d=%22M200 1300h100v100H200z%22%2F%3E%3Cpath fill=%22%23c7bed8f8%22 d=%22M300 1300h100v100H300z%22%2F%3E%3Cpath fill=%22%23c7bed8e6%22 d=%22M400 1300h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 1300h100v100H500zM600 1300h100v100H600zM700 1300h100v100H700zM800 1300h100v100H800zM900 1300h100v100H900z%22%2F%3E%3Cpath fill=%22%23c7bed867%22 d=%22M1000 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed80a%22 d=%22M1100 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 1300h100v100h-100zM1300 1300h100v100h-100zM1400 1300h100v100h-100zM1500 1300h100v100h-100zM1600 1300h100v100h-100zM1700 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23c7bed8d1%22 d=%22M1800 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 1300h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.7%22%2F%3E%3Cstop offset=%2275%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  }

  body[data-theme="dark"] .hero {
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%230c0910%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23453750%22 stroke-width=%222.6%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h100v100H0zM100 0h100v100H100zM200 0h100v100H200z%22%2F%3E%3Cpath fill=%22%2345375053%22 d=%22M400 0h100v100H400z%22%2F%3E%3Cpath fill=%22%2345375059%22 d=%22M500 0h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 0h100v100H600z%22%2F%3E%3Cpath fill=%22%2345375073%22 d=%22M800 0h100v100H800z%22%2F%3E%3Cpath fill=%22%234537506a%22 d=%22M900 0h100v100H900z%22%2F%3E%3Cpath fill=%22%2345375056%22 d=%22M1300 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 0h100v100h-100zM1600 0h100v100h-100zM1700 0h100v100h-100zM1800 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375054%22 d=%22M100 100h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 100h100v100H200z%22%2F%3E%3Cpath fill=%22%2345375054%22 d=%22M300 100h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 100h100v100H400zM500 100h100v100H500zM600 100h100v100H600zM700 100h100v100H700z%22%2F%3E%3Cpath fill=%22%234537503f%22 d=%22M900 100h100v100H900z%22%2F%3E%3Cpath fill=%22%23453750da%22 d=%22M1000 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750a1%22 d=%22M1400 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 100h100v100h-100zM1600 100h100v100h-100zM1800 100h100v100h-100zM1900 100h100v100h-100zM100 200h100v100H100zM200 200h100v100H200zM300 200h100v100H300z%22%2F%3E%3Cpath fill=%22%23453750b5%22 d=%22M500 200h100v100H500z%22%2F%3E%3Cpath fill=%22%2345375040%22 d=%22M600 200h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 200h100v100H700zM900 200h100v100H900z%22%2F%3E%3Cpath fill=%22%234537509c%22 d=%22M1000 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375002%22 d=%22M1200 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 200h100v100h-100zM1500 200h100v100h-100zM1600 200h100v100h-100zM0 300h100v100H0z%22%2F%3E%3Cpath fill=%22%234537509d%22 d=%22M100 300h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 300h100v100H200z%22%2F%3E%3Cpath fill=%22%234537501f%22 d=%22M600 300h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 300h100v100H800z%22%2F%3E%3Cpath fill=%22%2345375093%22 d=%22M1100 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375071%22 d=%22M1300 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 300h100v100h-100zM1600 300h100v100h-100zM1700 300h100v100h-100zM1800 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%234537507a%22 d=%22M1900 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 400h100v100H0zM100 400h100v100H100zM300 400h100v100H300zM400 400h100v100H400zM600 400h100v100H600zM700 400h100v100H700zM900 400h100v100H900zM1100 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750c6%22 d=%22M1200 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 400h100v100h-100zM1500 400h100v100h-100zM1700 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750f2%22 d=%22M1800 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375079%22 d=%22M0 500h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 500h100v100H100zM300 500h100v100H300zM400 500h100v100H400z%22%2F%3E%3Cpath fill=%22%2345375054%22 d=%22M700 500h100v100H700z%22%2F%3E%3Cpath fill=%22%23453750a1%22 d=%22M900 500h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 500h100v100h-100zM1100 500h100v100h-100zM1200 500h100v100h-100zM1300 500h100v100h-100zM1400 500h100v100h-100zM1600 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375024%22 d=%22M1700 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750e0%22 d=%22M1800 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750b7%22 d=%22M100 600h100v100H100z%22%2F%3E%3Cpath fill=%22%23453750ed%22 d=%22M200 600h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 600h100v100H300zM400 600h100v100H400zM600 600h100v100H600zM700 600h100v100H700zM1200 600h100v100h-100zM1300 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750d9%22 d=%22M1400 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 600h100v100h-100zM1800 600h100v100h-100zM1900 600h100v100h-100zM0 700h100v100H0z%22%2F%3E%3Cpath fill=%22%23453750f0%22 d=%22M100 700h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 700h100v100H200z%22%2F%3E%3Cpath fill=%22%23453750f9%22 d=%22M500 700h100v100H500z%22%2F%3E%3Cpath fill=%22%23453750d3%22 d=%22M700 700h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 700h100v100h-100zM1500 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%234537501e%22 d=%22M1600 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375087%22 d=%22M1700 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375032%22 d=%22M1900 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 800h100v100H0zM100 800h100v100H100zM200 800h100v100H200zM300 800h100v100H300z%22%2F%3E%3Cpath fill=%22%2345375081%22 d=%22M400 800h100v100H400z%22%2F%3E%3Cpath fill=%22%2345375043%22 d=%22M500 800h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 800h100v100H600zM1000 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%234537503f%22 d=%22M1300 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 800h100v100h-100zM1900 800h100v100h-100zM100 900h100v100H100zM200 900h100v100H200zM400 900h100v100H400zM600 900h100v100H600z%22%2F%3E%3Cpath fill=%22%2345375026%22 d=%22M700 900h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 900h100v100H800zM1000 900h100v100h-100zM1100 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750d2%22 d=%22M1200 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 900h100v100h-100zM1600 900h100v100h-100zM1700 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750ee%22 d=%22M1900 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1000h100v100H0zM200 1000h100v100H200zM300 1000h100v100H300zM400 1000h100v100H400zM700 1000h100v100H700zM800 1000h100v100H800z%22%2F%3E%3Cpath fill=%22%234537509f%22 d=%22M1100 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 1000h100v100h-100zM1400 1000h100v100h-100zM1500 1000h100v100h-100zM1600 1000h100v100h-100zM1800 1000h100v100h-100zM1900 1000h100v100h-100zM0 1100h100v100H0z%22%2F%3E%3Cpath fill=%22%2345375083%22 d=%22M100 1100h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 1100h100v100H200z%22%2F%3E%3Cpath fill=%22%2345375008%22 d=%22M300 1100h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 1100h100v100H400zM500 1100h100v100H500z%22%2F%3E%3Cpath fill=%22%2345375068%22 d=%22M800 1100h100v100H800z%22%2F%3E%3Cpath fill=%22%23453750c8%22 d=%22M900 1100h100v100H900z%22%2F%3E%3Cpath fill=%22%234537502b%22 d=%22M1000 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375090%22 d=%22M1100 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750e3%22 d=%22M1300 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750d7%22 d=%22M1500 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375001%22 d=%22M1600 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 1100h100v100h-100zM1800 1100h100v100h-100zM0 1200h100v100H0zM100 1200h100v100H100zM200 1200h100v100H200zM400 1200h100v100H400zM500 1200h100v100H500zM900 1200h100v100H900zM1000 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234537502a%22 d=%22M1100 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234537502d%22 d=%22M1300 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 1200h100v100h-100zM1500 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234537505c%22 d=%22M1600 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%2345375068%22 d=%22M200 1300h100v100H200z%22%2F%3E%3Cpath fill=%22%23453750ef%22 d=%22M300 1300h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 1300h100v100H400zM500 1300h100v100H500z%22%2F%3E%3Cpath fill=%22%2345375003%22 d=%22M700 1300h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 1300h100v100H800z%22%2F%3E%3Cpath fill=%22%2345375082%22 d=%22M1100 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23453750bb%22 d=%22M1500 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 1300h100v100h-100zM1800 1300h100v100h-100zM1900 1300h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.7%22%2F%3E%3Cstop offset=%2275%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  }

  .hero__text {
    color: var(--text);
    text-align: center;
    z-index: 1;
    flex: 1 1 0;
  }

  .hero__text h1 {
    font-size: min(2.5rem, 8vmin);

    line-height: 0.9;
    margin-inline: auto;
    margin-block: 0;
    position: relative;
  }

  .hero-wave {
    animation: wave 1200ms cubic-bezier(0.22, 0.61, 0.36, 1) 1000ms;
    transform-origin: 65% 75%;
    display: inline-block;
  }

  @keyframes wave {
    from {
      rotate: 0deg;
    }
    25%,
    75% {
      rotate: 30deg;
    }
    50% {
      rotate: 0deg;
    }
    to {
      rotate: 0deg;
    }
  }

  .hero__cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .hero__cta a {
    text-align: center;
  }

  .projects-container {
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: subgrid;
    row-gap: 1rem;
  }

  /* contact */
  .contact-form :is(label, input, textarea) {
    display: block;
  }

  .contact-form label {
    padding: 1rem 0;
  }

  .contact-form :is(input, textarea) {
    width: 100%;
    padding: 1rem;
  }

  .contact-form textarea {
    resize: vertical;
  }
</style>
