---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import JournalPost from "@/components/JournalPost.astro";

const journals = await getCollection("journal");
---

<MainLayout>
  <header class="full-columns">
    <h1>My Daily Journal</h1>
    <p>My daily on-job training journal. Coming soon on July 1st.</p>
  </header>

  <section class="full-columns">
    <h2>Journals</h2>
    <ul class="blog-list">
      {
        journals.map((entry, index) => (
          <JournalPost isLast={index === journals.length - 1} {entry} />
        ))
      }
    </ul>
  </section>
</MainLayout>
