:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  background: #f1f5f9;
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem;
}

.main-section > :is(h1, h2, p) {
  max-width: 75ch;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #2a2f2f;
  }
}
