@import "./resets.css";
:root {
  color-scheme: light dark;

  --african-violet: #a393bfff;
  --african-violet-2: #9882acff;
  --pomp-and-power: #73648aff;
  --english-violet: #453750ff;
  --night: #0c0910ff;

  --white: #eeeefa;
  --white-lighter: hsl(240, 10%, 80%);
  --light-grey: #e0e0e4;
  --dark-grey: #1d1d25;
  --grey: hsl(0, 0%, 35%);

  --background-dark: var(--night);
  --text-dark: var(--white-lighter);
  --background-light: var(--white);
  --text-light: var(--night);

  --primary: var(--african-violet);
  --secondary: var(--light-grey);
  --accent: var(--african-violet-2);
}

:root {
  --background: var(--background-light);
  --text: var(--text-light);

  --transition: 200ms ease;
  --outline-color: var(--accent);
  --block-bg-hover: var(--secondary);
  --link-color: rgb(67, 67, 220);
  --link-color-hover: rgb(147, 147, 220);

  --navbar-bg: var(--background);
  --nav-link-color: var(--grey);
  --nav-link-color-hover: var(--dark-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: var(--dark-grey);
    --accent: #423a6e;
  }

  :root {
    --background: var(--background-dark);
    --text: var(--text-dark);

    --link-color: rgb(140, 140, 250);
    --link-color-hover: rgb(150, 150, 255);

    --nav-link-color: var(--text);
    --nav-link-color-hover: var(--white);
  }
}

body {
  background: var(--background);
  color: var(--text);
}

.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.astro-code {
  padding: 1rem;
  font-size: 1rem;
}

a {
  color: var(--link-color);
}

a:link {
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
}

h2 {
  border-bottom: 2px solid var(--outline-color);
  margin-block: 2rem 1rem;
  padding-block: 0 0.5rem;
  width: max-content;
  line-height: 1;
}
