@import "./resets.css";

:root {
  color-scheme: light dark;

  --body-bg: #f1f5f9;
  --accent: rgb(59, 78, 175);
  --outline-color: #dfdfdf;
  --link-color: rgb(67, 67, 220);
  --link-color-hover: rgb(147, 147, 220);

  --navbar-bg: #ababab22;
  --nav-link-color: black;
  --nav-link-color-hover: rgb(94, 94, 94);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  padding: 0;
}

main {
  padding: 2rem;
  max-width: 85ch;
  margin: 0 auto;
}

.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.astro-code {
  padding: 1rem;
  font-size: 1rem;
}

a {
  color: var(--link-color);
}

a:link {
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #2a2f2f;
    --outline-color: #444;
    --link-color: rgb(140, 140, 250);
    --link-color-hover: rgb(150, 150, 255);

    --navbar-bg: #000c;
    --nav-link-color: #cecece;
    --nav-link-color-hover: #dfdfdf;
  }
}
