*,
*::before,
*::after {
  box-sizing: border-box;
  transition:
    background var(--transition),
    color var(--transition);
}

body {
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

figure {
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid dodgerblue;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-style: normal;
}
