---
import MainLayout from "@layouts/MainLayout.astro";
const title = "Efraim Munthe | About";
const myName = "Efraim Munthe";
const skills = [
  "Git",
  "HTML",
  "CSS",
  "SASS/SCSS",
  "Tailwind",
  "JavaScript",
  "TypeScript",
  "Go",
  "Vue",
  "Nuxt",
  "React",
  "Astro",
  "PostgreSQL",
  "Python",
  "Laravel",
  "PHP",
  "Firebase",
  "Supabase",
];
---

<MainLayout title={title} description="A little bit about me">
  <article class="main-section full-columns">
    <h1>About me</h1>
    <p>
      Hello, my name is {myName}. I am a student and tech enthusiast from
      Indonesia currently learning web development. I have {
        new Date().getFullYear() - 2021
      } years of experience using various web technologies to craft beautiful
      clean and maintainable websites.
    </p>
    <p>
      When it comes to tools, I am flexible to learning whatever is needed to
      get the job done. Throughout my career so far in the web development
      space, I have made various things with several technologies, including:
    </p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>

    <p>
      In my development, I primarily use VS Code for work, but uses Neovim on
      WSL for everything else. You can check out my config on <a
        href="https://github.com/klrfl/nvim-config">Github</a
      >.
    </p>

    <p>
      when I'm not coding, I like reading about tech, editing Indonesian
      Wikipedia articles about Formula One, playing guitar, or playing chess.
    </p>
    <p>
      I first got into software development when I was in 9th grade. At the time
      I was looking at Python tutorial videos on YouTube, and out of curiosity I


      <a href="https://youtu.be/_uQrJ0TkZlc">clicked one of them</a> and learned
      Python. I remember when I first installed Python and Pycharm, then
      printing hello world to the console. I was so happy that I can program a
      computer to do something. From there, my curiosity peaked. I looked into
      web development, learned HTML CSS and JS, and now here we are. Huge thanks
      to Mosh for getting me to where I am now!
    </p>
  </article>
</MainLayout>

<style>
  ul {
    column-count: 2;
  }
</style>
