---
import MainLayout from "@layouts/MainLayout.astro";
const title = "Efraim Munthe | About";
const myName = "Efraim";
const skills = ["Python", "HTML", "CSS", "JS", "Vue", "Astro"];
---

<MainLayout title={title} description="A little bit about Efraim">
  <section class="main-section">
    <h1>About me</h1>
    <p>
      Hello, my name is {myName}. I am a student from Indonesia currently
      learning web development. I have 2 years of experience using various
      technologies such as JavaScript, Vue and Astro.
    </p>
    <p>In the frontend space, I have picked up various things, including:</p>
    <ul>
      {
        skills.map((skill) => {
          return <li>{skill}</li>;
        })
      }
    </ul>
    <p>
      I am also interested in backend web development, so I have learned a
      little bit of bash scripting. I have learned a little bit about Firebase,
      PostgreSQL and also Node & Express.
    </p>

    <p>
      In my development, I primarily use VS Code for my code editor, but
      recently I have gotten into Neovim. I will probably publish my config
      soon.
    </p>

    <p>
      when I'm not coding, I like editing Indonesian Wikipedia articles about
      Formula One or playing chess.
    </p>
    <p>
      I first got into software development when I was in 9th grade. At the time
      I was looking at Python tutorial videos on YouTube, and out of curiosity I
      <a href="https://youtu.be/_uQrJ0TkZlc">clicked one of them</a> and learned
      Python. I remember when I first installed Python and Pycharm, then
      printing hello world to the console. I was so happy that I can program a
      computer to do something. From there, my curiosity peaked. I looked into
      web development, learned HTML CSS and JS, and now here we are. Huge thanks
      to Mosh for getting me to where I am now!
    </p>
  </section>
</MainLayout>
