---
import MyLayout from "../layouts/MyLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<MyLayout title="blog">
  <main>
    <section class="main-section">
      <h1>Main blog page</h1>
      <p>Here is the list of all blog posts I made on this project.</p>

      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </section>
  </main>
</MyLayout>
