---
import MyLayout from "../layouts/MyLayout.astro";
---

<MyLayout title="Home">
  <main>
    <section class="main-section">
      <h1>Astro</h1>
      <p>Gua mau belajar Astro, makanya gua bikin blog ini.</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum,
        asperiores consequuntur voluptates rem laborum ut autem vel ratione,
        vitae id natus quae suscipit doloribus fugiat eius, sed distinctio!
        Dicta!
      </p>
    </section>
  </main>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
  ></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</MyLayout>
