---
import MainLayout from "@layouts/MainLayout.astro";
import BlogPost from "@components/BlogPost.astro";

import { sortPostsByDate } from "@/scripts/utils";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const sortedPosts = sortPostsByDate(allPosts);
---

<MainLayout title="Latest Posts" description="Latest posts from Klrfl's blog.">
  <section class="main-section">
    <h1>Latest Posts</h1>
    <p>Here is the latest blog posts I made.</p>

    <ul class="blog-list">
      {sortedPosts.map((post: Object) => <BlogPost post={post} />)}
    </ul>
  </section>
</MainLayout>
