---
import MyLayout from "../layouts/MyLayout.astro";
import BlogPost from "../components/BlogPost.astro";

import { sortPostsByDate } from "../scripts/utils";
const allPosts = await Astro.glob("../pages/posts/*.md");
const sortedPosts = sortPostsByDate(allPosts);
---

<MyLayout title="Latest Posts">
  <main>
    <section class="main-section">
      <h1>Latest Posts</h1>
      <p>Here is the latest blog posts I made.</p>

      <ul class="blog-list">
        {sortedPosts.map((post) => <BlogPost post={post} />)}
      </ul>
    </section>
  </main>
</MyLayout>
