---
const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="description" content={description} />
<title>{title}</title>

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Source Code Pro -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
  rel="stylesheet"
/>

<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/12334b3056.js" crossorigin="anonymous"
></script>
