---
import "@/styles/globals.css";
import "@fontsource/open-sans";
import "@fontsource/source-code-pro";
const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="description" content={description} />
<title>{title}</title>

<link rel="sitemap" href="/sitemap-index.xml" />
