<button id="open-nav" title="open navbar">
  <i class="fa-solid fa-bars"></i>
</button>

<style>
  #open-nav {
    background: var(--navbar-bg);
    padding: 1.5rem;
  }
  @media screen and (min-width: 50em) {
    #open-nav {
      display: none;
    }
  }
</style>

<script>
  import "../scripts/navbar.js";
</script>
