<button id="open-nav" title="open navbar">Open navbar</button>

<style>
  @media screen and (min-width: 50em) {
    #open-nav {
      display: none;
    }
  }
</style>

<script>
  import "../scripts/navbar.js";
</script>
