---
const { tag, amount } = Astro.props;
---

<li class="tag">
  <a href={`/tags/${tag}`}>{tag} ({amount})</a>
</li>

<style>
  .tag {
    margin-block-end: 0.5rem;
    outline: 2px solid var(--outline-color-secondary);
  }

  .tag a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    display: block;
    transition:
      background-color var(--transition),
      color var(--transition);
  }

  .tag:hover {
    outline-color: var(--outline-color);
  }

  .tag a:hover {
    background: var(--block-bg-hover);
    color: var(--nav-link-color-hover);
  }
</style>
