---
const { class: className, href, isButton = false } = Astro.props;
---

{
  isButton ? (
    <button class:list={["cta", className]}>
      <slot />
    </button>
  ) : (
    <a href={href} class:list={["cta", className]}>
      <slot />
    </a>
  )
}

<style>
  .cta {
    text-decoration: none;
    background: var(--primary);
    color: var(--text-light);
    margin-block: 1rem;
    padding: 1em 2em;
    display: inline-block;
    cursor: pointer;

    transition:
      background-color var(--transition),
      outline var(--transition),
      box-shadow var(--transition),
      color var(--transition);
  }

  .cta:hover,
  .cta:focus-visible {
    outline: 1px solid var(--primary);
    box-shadow: 0px 5px 20px -2px var(--outline-color-mute);
    background: transparent;
    color: var(--text);
  }
</style>
