---
const {
  class: className,
  href,
  isButton = false,
  primary = false,
  margin = false,
} = Astro.props;
---

{
  isButton ? (
    <button
      class:list={["cta", { primary: primary }, { margin: margin }, className]}>
      <slot />
    </button>
  ) : (
    <a
      href={href}
      class:list={["cta", { primary: primary }, { margin: margin }, className]}>
      <slot />
    </a>
  )
}

<style>
  .cta {
    outline: 1px solid var(--primary);
    color: var(--text);
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;
    cursor: pointer;

    transition:
      background-color var(--transition),
      outline var(--transition),
      box-shadow var(--transition),
      color var(--transition);
  }

  .cta.primary {
    background: var(--primary);
    color: var(--text-light);
  }

  .cta.margin {
    margin-block: 1rem;
  }

  .cta:hover,
  .cta:focus-visible {
    background: var(--primary);
    color: var(--text-light);
    outline: 4px solid var(--primary);
    box-shadow:
      1px 1px 2px var(--light-grey),
      2px 2px 4px var(--outline-color-mute);
  }

  .cta:focus-visible {
    scale: 1.1;
  }

  .cta.primary:hover,
  .cta.primary:focus-visible {
    background: transparent;
    outline: 4px solid var(--primary);
    color: var(--text);
  }
</style>
