---
const { href } = Astro.props;
---

<a href={href} class="cta">
  <slot />
</a>

<style>
  .cta {
    background: var(--primary);
    color: var(--text-light);
    margin: 1rem auto;
    padding: 1em 2em;
    display: inline-block;

    transition: background-color var(--transition), outline var(--transition),
      box-shadow var(--transition);
  }

  .cta a {
    color: inherit;
  }

  .cta:hover {
    outline: 1px solid var(--primary);
    box-shadow: 0px 5px 20px -2px var(--outline-color-mute);
    background: transparent;
  }
</style>
