---
import { Icon } from "astro-icon/components";
const footerLinks = [
  {
    icon: "mdi:github",
    href: "https://github.com/klrfl/personal-site",
    text: "source code on GitHub",
  },
  {
    icon: "mdi:linkedin",
    href: "https://linkedin.com/in/efraim-munthe/",
    text: "LinkedIn",
  },
  {
    icon: "mdi:envelope",
    href: "mailto:efraimmunthe101@gmail.com",
    text: "Email",
  },
  {
    icon: "mdi:codepen",
    href: "https://codepen.io/klrfl/",
    text: "Codepen",
  },
  {
    icon: "ic:baseline-discord",
    href: "https://discordapp.com/users/798010695102365696",
    text: "Discord",
  },
];
---

<footer>
  <div class="footer-text">
    <p>Made by <a href="https://github.com/Klrfl">Klrfl</a>, 2023.</p>
  </div>
  <div class="footer-socials">
    <ul>
      {
        footerLinks.map((link) => (
          <li>
            <Icon name={link.icon} size={28} />
            <a href={link.href}>{link.text}</a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>

<style>
  footer {
    background: var(--secondary);
    color: var(--text);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer-socials ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer-socials li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-socials i {
    font-size: 1.4rem;
  }

  .footer-socials a {
    color: var(--nav-link-color);
    text-decoration: none;
    display: inline-block;
    padding: 1em 0.25em;
    transition: color var(--transition);
  }

  .footer-socials a:hover {
    color: var(--nav-link-color-hover);
  }

  @media screen and (min-width: 50em) {
    footer {
      flex-direction: row;
    }

    .footer-socials ul {
      flex-direction: row;
      align-items: center;
    }
  }
</style>
