<footer>
  <div class="footer-text">
    <p>Made by <a href="https://github.com/Klrfl">Klrfl</a>, 2023.</p>
  </div>
  <div class="footer-socials">
    <ul>
      <li>
        <i class="fa-brands fa-github"></i>
        <a href="https://github.com/Klrfl/blog-tutorial">This blog on GitHub</a>
      </li>
      <li>
        <i class="fa-brands fa-codepen"></i>
        <a href="https://codepen.com/codepen.io/Klrfl">Codepen</a>
      </li>
      <li>
        <i class="fa-solid fa-envelope"></i>
        <a href="https://mailto:efrayanglain@gmail.com">Email me</a>
      </li>
      <li>
        <i class="fa-brands fa-discord"></i>
        <a href="https://discordapp.com/users/798010695102365696">Discord</a>
      </li>
    </ul>
  </div>
</footer>

<style>
  footer {
    background: var(--secondary);
    color: var(--text);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer-socials ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer-socials li {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .footer-socials i {
    font-size: 1.4rem;
  }

  .footer-socials a {
    display: inline-block;
    color: var(--link-color);
    padding: 1em 0.25em;
    transition: color var(--transition);
  }

  .footer-socials a:hover {
    color: var(--link-color-hover);
  }

  @media screen and (min-width:50em) {
    footer {
      flex-direction: row;
    }

    .footer-socials ul {
      flex-direction: row;
      align-items: center;
    }
  }
</style>
