<footer>
  <p><a href="https://github.com/Klrfl">Klrfl</a>, 2023.</p>
  <div class="social-media-links">
    <ul>
      <li>
        <a href="https://github.com/Klrfl/blog-tutorial">This blog on GitHub</a>
      </li>
    </ul>
  </div>
</footer>

<style>
  footer {
    outline: 1px solid #444;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
