---
import { Icon } from "astro-icon/components";
const footerLinks = [
  {
    icon: "fa7-brands:github",
    href: "https://github.com/klrfl/personal-site",
    text: "source code on GitHub",
  },
  {
    icon: "fa7-brands:linkedin",
    href: "https://linkedin.com/in/efraim-munthe/",
    text: "LinkedIn",
  },
  {
    icon: "material-symbols:mail",
    href: "mailto:efraimmunthe101@gmail.com",
    text: "Email",
  },
  {
    icon: "fa7-brands:codepen",
    href: "https://codepen.io/klrfl/",
    text: "Codepen",
  },
  {
    icon: "fa7-brands:discord",
    href: "https://discordapp.com/users/798010695102365696",
    text: "Discord",
  },
];
---

<footer>
  <div class="footer-text">
    <p>
      Made by Klrfl, {new Date().getFullYear()}. See more on <a
        href="https://github.com/Klrfl">my Github</a
      >
    </p>
  </div>
  <ul class="footer-socials">
    {
      footerLinks.map((link) => (
        <li>
          <a href={link.href}>
            <span> {link.text} </span>
            <Icon name={link.icon} size={28} />
          </a>
        </li>
      ))
    }
  </ul>

  {
    import.meta.env.PROD && (
      <>
        <div id="wcb" class="carbonbadge" />
        <script
          src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js"
          defer
        />
      </>
    )
  }
</footer>

<style>
  footer {
    background: var(--secondary);
    color: var(--text);
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    @media screen and (min-width: 50em) {
      grid-template-columns: max-content 1fr;
      gap: 1rem;
      justify-items: start;
    }
  }

  .footer-socials {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

    @media screen and (min-width: 50em) {
      justify-content: end;
    }

    justify-self: end;
  }

  .footer-socials li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-socials a {
    color: var(--nav-link-color);
    text-decoration: none;
    display: inline-block;
    padding: 1em 0.25em;
    transition: color var(--transition);

    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .footer-socials a:hover {
    color: var(--nav-link-color-hover);
  }
</style>
