---
import type { CollectionEntry } from "astro:content";

interface Props {
  isLast: boolean;
  entry: CollectionEntry<"journal">;
}
const { isLast, entry } = Astro.props;
---

<li class="journal-entry-wrapper">
  <a class="journal-entry" href={`/journal/${entry.slug}`}>
    <div class="day">
      <span class="day__count">
        #{entry.data.day}
      </span>
      {!isLast && <span class="day__line" />}
    </div>
    <div class="journal-entry__text">
      <h3>
        {entry.data.title}
      </h3>
      <p>{entry.data.created_at.toLocaleDateString()}</p>
    </div>
  </a>
</li>

<style>
  .journal-entry-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .journal-entry {
    color: inherit;
    text-decoration: none;

    display: flex;
    position: relative;
    gap: 1rem;
    flex: 1;
  }

  .journal-entry:hover {
    color: var(--primary);
  }

  .journal-entry .day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .journal-entry .day__count {
    outline: 2px solid var(--outline-color-secondary);
    border-radius: 50%;
    width: 3em;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    text-align: center;
  }

  .journal-entry .day__line {
    background: var(--outline-color-secondary);
    height: 100%;
    width: 0.1rem;
  }

  .journal-entry__text {
    padding-block: 0 2rem;
  }

  .journal-entry h3 {
    margin-block: 0 0.2rem;
  }

  .journal-entry p {
    margin-block: 0;
  }

  .journal-entry__image {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
</style>
