---
import BurgerMenu from "../components/BurgerMenu.astro";
---

<nav>
  <div class="logo">
    <a href="/">logo</a>
  </div>

  <BurgerMenu />

  <ul class="nav-links-wrapper">
    <div class="nav-links-wrapper__header">
      <div class="logo">
        <a href="/">logo</a>
      </div>
      <button id="close-nav" title="close navbar">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <li><a class="nav-links" href="/">Home</a></li>
    <li><a class="nav-links" href="/about">About</a></li>
    <li><a class="nav-links" href="/blog">Blog</a></li>
  </ul>
</nav>

<style is:inline>
  nav {
    outline: 2px solid var(--outline-color);
    background: var(--navbar-bg);
    backdrop-filter: blur(10px);
    color: var(--nav-link-color);

    user-select: none;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
  nav,
  .nav-links-wrapper__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    color: inherit;
    text-decoration: unset;
  }

  nav button {
    cursor: pointer;
  }

  .nav-links-wrapper {
    outline: 2px solid var(--outline-color);
    background: var(--navbar-bg);
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    flex-direction: column;

    transform: translateY(-100%);
    transition: transform 200ms ease;
  }

  .nav-links-wrapper.active {
    backdrop-filter: blur(0.5rem);
    transform: none;
  }

  nav > *,
  .nav-links-wrapper__header > *,
  .nav-links {
    padding: 1.5rem;
  }
  .nav-links {
    display: flex;
  }

  .nav-links:hover,
  nav button:hover {
    color: var(--nav-link-color-hover);
  }

  @media screen and (min-width: 50em) {
    .nav-links-wrapper {
      transform: none;
      background: transparent;
      position: relative;
      flex-direction: row;
    }

    .nav-links-wrapper__header {
      display: none;
    }
  }
</style>
