---
import SearchBar from "@/components/SearchBar.astro";
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";
import { languages, useTranslations } from "@/i18n";

const { locale } = Astro.props;
const t = useTranslations(locale);
---

<nav>
  <section class="logo">
    <a class="nav-btn" href="/" title={t("nav.home")}>Efraim</a>
  </section>

  <section class="lang-picker">
    {languages.map((lang) => <a href={`/${lang.id}`}>{lang.emoji}</a>)}
  </section>

  <section class="left">
    <button class="nav-btn theme-toggle" title={t("nav.theme-toggle")}>
      <div class="icon--light">
        <Icon name="material-symbols:light-mode-outline" size={24} />
      </div>
      <div class="icon--dark">
        <Icon name="material-symbols:dark-mode-outline" size={24} />
      </div>
    </button>

    <SearchBar {locale} />

    <button class="nav-btn" id="open-nav" title={t("nav.open-nav")}>
      <Icon name="material-symbols:menu-rounded" size={24} />
    </button>

    <ul class="nav-links-wrapper">
      <li class="nav-links-wrapper__header">
        <button class="nav-btn" id="close-nav" title={t("nav.close-nav")}>
          <Icon name="material-symbols:close-rounded" size={24} />
        </button>
      </li>

      <li>
        <a class="nav-link" href={getRelativeLocaleUrl(locale, "/")}>
          {t("nav.link.home")}
        </a>
      </li>

      <li>
        <a class="nav-link" href={getRelativeLocaleUrl(locale, "blog")}>
          {t("nav.link.blog")}
        </a>
      </li>

      <li>
        <a class="nav-link" href={getRelativeLocaleUrl(locale, "journal")}>
          {t("nav.link.journal")}
        </a>
      </li>

      <li>
        <a class="nav-link" href={getRelativeLocaleUrl(locale, "about")}>
          {t("nav.link.about")}
        </a>
      </li>
    </ul>
  </section>
</nav>

<style is:global>
  nav .nav-btn {
    padding: 1rem;

    @media (min-width: 50em) {
      padding: 1.5rem;
    }

    transition: color 500ms ease;
  }

  nav .nav-btn:is(:hover, :focus-visible) {
    color: var(--nav-link-color-hover);
  }
</style>

<style>
  nav,
  .nav-links-wrapper.active {
    background: var(--navbar-bg);
    box-shadow: 0 2px 20px -2px var(--outline-color-mute);
    outline: 2px solid var(--outline-color-mute);
    backdrop-filter: blur(0.4rem);
  }

  /**
  * Chromium browsers doesn't support nested backdrop-filter 
  * https://havn.blog/2024/03/14/chromium-and-nested.html
  * */
  nav:has(.active) {
    backdrop-filter: none;
  }

  nav {
    color: var(--text);

    user-select: none;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  nav,
  nav .left,
  .nav-links-wrapper__header {
    display: flex;
    align-items: center;
  }

  nav a {
    color: inherit;
    text-decoration: unset;
    display: block;
    position: relative;
  }

  nav button {
    cursor: pointer;
  }

  .nav-links-wrapper {
    background: var(--navbar-bg);
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    flex-direction: column;

    will-change: transform;
    transform: translateY(-100%);
    visibility: hidden;
    transition:
      transform 200ms ease,
      visibility 200ms ease;
  }

  .nav-links-wrapper.active {
    visibility: visible;
    transform: none;
  }

  .nav-links-wrapper__header {
    outline: 2px solid var(--outline-color-mute);
    justify-content: flex-end;
  }

  .nav-links-wrapper__header > * {
    padding: 1.5rem;
  }

  #open-nav {
    @media (min-width: 45rem) {
      display: none;
    }
  }

  .logo a {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--accent);
  }

  .nav-link {
    padding: 1.5rem 2rem;
    text-align: right;
    color: var(--nav-link-color);
    transition: color var(--transition);
  }

  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0.25rem;
    width: 100%;
    background: var(--outline-color);
    transform: scale(0);
    transition: transform var(--transition);
  }

  .nav-link:focus::before {
    transform: scale(1);
  }

  @media (hover: hover) {
    .nav-link:hover {
      color: var(--nav-link-color-hover);
    }

    .nav-link:hover::before {
      transform: scale(1);
    }
  }

  @media screen and (min-width: 50em) {
    .nav-links-wrapper {
      background: transparent;
      outline: none;
      visibility: visible;
      transform: none;
      position: relative;
      flex-direction: row;
    }

    .nav-links-wrapper__header {
      display: none;
    }
  }

  .lang-picker {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
  }
</style>

<script>
  import "@/scripts/navbar";
  import "@/scripts/theme";
</script>
