---
import BurgerMenu from "../components/BurgerMenu.astro";
---

<nav>
  <div class="logo">
    <a href="/">logo</a>
  </div>

  <BurgerMenu />

  <ul class="nav-links-wrapper">
    <div class="nav-links-wrapper__header">
      <div class="logo">
        <a href="/">logo</a>
      </div>
      <button id="close-nav" title="close navbar">close navbar</button>
    </div>

    <li><a class="nav-links" href="/about">About</a></li>
    <li><a class="nav-links" href="/latest">Latest</a></li>
    <li><a class="nav-links" href="/tags">Posts</a></li>
  </ul>
</nav>

<style>
  nav {
    background: var(--navbar-bg);
    backdrop-filter: blur(10px);
    user-select: none;
    position: sticky;
    top: 0;
  }
  nav,
  .nav-links-wrapper__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    color: inherit;
    text-decoration: none;
  }

  nav button {
    cursor: pointer;
  }

  .nav-links-wrapper {
    background: #000a;
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    flex-direction: column;

    transform: translateY(-100%);
    transition: transform 200ms ease;
  }

  .nav-links-wrapper.active {
    backdrop-filter: blur(0.5rem);
    transform: none;
  }

  nav > *,
  .nav-links-wrapper__header > *,
  .nav-links {
    padding: 1rem;
  }
  .nav-links {
    display: flex;
  }

  .nav-links-wrapper a:hover {
    background: #000a;
  }

  @media screen and (min-width: 50em) {
    .nav-links-wrapper {
      transform: none;
      background: transparent;
      position: relative;
      flex-direction: row;
    }

    .nav-links-wrapper__header {
      display: none;
    }
  }
</style>
