---
import ThemeButton from "@/components/ThemeButton.astro";
import BurgerMenu from "@components/BurgerMenu.astro";
---

<nav>
  <section class="logo">
    <a href="/">
      <i class="fa-solid fa-k"></i>
    </a>
  </section>


  <section class="left">
  <ThemeButton/>

  <ul class="nav-links-wrapper">
    <div class="nav-links-wrapper__header">
      <div class="logo">
        <a href="/">
          <i class="fa-solid fa-k"></i>
        </a>
      </div>
      <button id="close-nav" title="close navbar">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <li><a class="nav-links" href="/">Home</a></li>
    <li><a class="nav-links" href="/about">About</a></li>
    <li><a class="nav-links" href="/blog">Blog</a></li>
  </ul>

  <BurgerMenu />
  </section>
</nav>

<style>
  nav,
  .nav-links-wrapper.active {
    background: var(--navbar-bg);
    box-shadow: 0 5px 20px -2px var(--outline-color-mute);
    outline: 2px solid var(--outline-color-mute);
    backdrop-filter: blur(.4rem);
  }

  nav {
    color: var(--text);

    user-select: none;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  nav,
  nav .left,
  .nav-links-wrapper__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    color: inherit;
    text-decoration: unset;
    display: block;
    position: relative;
  }

  nav button {
    cursor: pointer;
  }

  .nav-links-wrapper {
    background: var(--navbar-bg);
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    flex-direction: column;

    transform: translateY(-100%);
    transition: transform 200ms ease;
  }

  .nav-links-wrapper.active {
    transform: none;
  }

  .nav-links-wrapper__header {
    outline: 2px solid var(--outline-color-mute);
  }

  nav > .logo a,
  .nav-links-wrapper__header > *,
  .nav-links {
    padding: 1.5rem;
  }

  .nav-links {
    text-align: right;
    color: var(--nav-link-color);
    transition: color var(--transition);
  }

  .nav-links::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.5rem;
    height: 100%;
    background: var(--outline-color);
    transform: scale(0);
    transition: transform var(--transition);
  }

  .nav-links:focus::before {
    transform: scale(1);
  }

  @media (hover: hover) {
    .nav-links:hover,
    nav button:hover {
      color: var(--nav-link-color-hover);
    }

    .nav-links:hover::before {
      transform: scale(1);
    }
  }

  @media screen and (min-width: 50em) {
    
    .nav-links-wrapper {
      background: transparent;
      outline: none;
      transform: none;
      position: relative;
      flex-direction: row;
    }

    .nav-links-wrapper__header {
      display: none;
    }

    .nav-links::before {
      width: 100%;
      height: 0.1rem;
    }
  }
</style>
