---
import BurgerMenu from "../components/BurgerMenu.astro";
---

<nav>
  <div class="logo">
    <a href="/">logo</a>
  </div>

  <BurgerMenu />

  <ul class="nav-links">
    <div class="nav-links__header">
      <div class="logo">
        <a href="/">logo</a>
      </div>
      <button id="close-nav" title="close navbar">close navbar</button>
    </div>

    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/tags">Tags</a></li>
  </ul>
</nav>

<style>
  nav,
  .nav-links__header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo a,
  nav a {
    color: inherit;
    text-decoration: none;
  }

  nav button {
    cursor: pointer;
  }

  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;

    transform: translateY(-100%);
    transition: transform 200ms ease;
  }

  .nav-links.active {
    background: #000a;
    backdrop-filter: blur(0.5rem);
    transform: none;
  }

  .nav-links li {
    display: block;
  }

  .nav-links li a {
    padding: 1rem;
    display: flex;
  }

  .nav-links a:hover {
    background: #000a;
  }

  @media screen and (min-width: 50em) {
    .nav-links {
      transform: none;
      background: transparent;
      position: relative;
      flex-direction: row;
    }

    .nav-links__header {
      display: none;
    }
  }
</style>
