---
import ThemeButton from "@/components/ThemeButton.astro";
import BurgerMenu from "@components/BurgerMenu.astro";
import { Icon } from "astro-icon/components";
---

<nav>
  <section class="logo">
    <a href="/" aria-label="go back home">Efraim</a>
  </section>

  <section class="left">
    <ThemeButton />
    <BurgerMenu />

    <ul class="nav-links-wrapper">
      <li class="nav-links-wrapper__header">
        <button id="close-nav" title="close navbar">
          <Icon name="mdi:close" size={28} />
        </button>
      </li>

      <li><a class="nav-links" href="/">Home</a></li>
      <li><a class="nav-links" href="/blog">Blog</a></li>
      <li><a class="nav-links" href="/journal">Journal</a></li>
      <li><a class="nav-links" href="/about">About</a></li>
    </ul>
  </section>
</nav>

<style>
  nav,
  .nav-links-wrapper.active {
    background: var(--navbar-bg);
    box-shadow: 0 2px 20px -2px var(--outline-color-mute);
    outline: 2px solid var(--outline-color-mute);
    backdrop-filter: blur(0.4rem);
  }

  nav {
    color: var(--text);

    user-select: none;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  nav,
  nav .left,
  .nav-links-wrapper__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    color: inherit;
    text-decoration: unset;
    display: block;
    position: relative;
  }

  nav button {
    cursor: pointer;
  }

  .nav-links-wrapper {
    background: var(--navbar-bg);
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    flex-direction: column;

    will-change: transform;
    transform: translateY(-100%);
    visibility: hidden;
    transition:
      transform 200ms ease,
      visibility 200ms ease;
  }

  .nav-links-wrapper.active {
    visibility: visible;
    transform: none;
  }

  .nav-links-wrapper__header {
    outline: 2px solid var(--outline-color-mute);
    justify-content: flex-end;
  }

  nav > .logo a,
  .nav-links-wrapper__header > *,
  .nav-links {
    padding: 1.5rem;
  }

  .logo a {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--accent);
  }

  .nav-links {
    text-align: right;
    color: var(--nav-link-color);
    transition: color var(--transition);
  }

  .nav-links::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0.25rem;
    width: 100%;
    background: var(--outline-color);
    transform: scale(0);
    transition: transform var(--transition);
  }

  .nav-links:focus::before {
    transform: scale(1);
  }

  @media (hover: hover) {
    .nav-links:hover,
    nav button:hover {
      color: var(--nav-link-color-hover);
    }

    .nav-links:hover::before {
      transform: scale(1);
    }
  }

  @media screen and (min-width: 50em) {
    .nav-links-wrapper {
      background: transparent;
      outline: none;
      visibility: visible;
      transform: none;
      position: relative;
      flex-direction: row;
    }

    .nav-links-wrapper__header {
      display: none;
    }
  }
</style>
