---
const { href = "#" } = Astro.props;
---

<a {href} target="_blank"><slot /></a>

<style>
  a {
    outline: 1px solid var(--outline-color-mute);
    color: inherit;
    padding: 0.3rem;
    text-decoration: none;
    line-height: 1.3;
    background: var(--secondary);
    border-radius: 0.5rem;
    display: inline-block;
    transition: outline var(--transition);
  }

  a:hover {
    outline-color: var(--outline-color);
  }
</style>
