<button class="theme-toggle" title="toggle site theme">
  <i class="fa-solid fa-sun"></i>
  <i class="fa-solid fa-moon"></i>
</button>

<style>
  .theme-toggle {
    display: inline-block;
    padding: 1rem;
  }
</style>

<script>
  import "@/scripts/theme.js";
</script>
