---
import { Icon } from "astro-icon/components";
---

<button class="theme-toggle" title="toggle site theme">
  <div class="icon--light">
    <Icon name="ic:outline-light-mode" size={25} />
  </div>
  <div class="icon--dark">
    <Icon name="ic:outline-dark-mode" size={25} />
  </div>
</button>

<style>
  .theme-toggle {
    display: inline-block;
    padding: 1rem;
  }

  .theme-toggle:is(:hover, :focus-visible) {
    color: var(--primary);
  }
</style>

<script>
  import "@/scripts/theme";
</script>
