---
import MyLayout from "./MyLayout.astro";
import Footer from "@/components/Footer.astro";
const { title } = Astro.props;
---

<MyLayout title={title}>
  <main>
    <slot />
  </main>

  <Footer />
</MyLayout>

<style is:global>
  main {
    --column-count: 6;
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      repeat(var(--column-count), minmax(0, 10rem))
      minmax(1rem, 1fr);

    gap: 2rem 1rem;
  }

  main > * {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  .full-columns > * {
    grid-column: 2 / span 6;
  }

  main header > * {
    grid-column: 1 / -1;
  }

  .odd-columns > * {
    grid-column: span 2;

    @media screen and (width < 50em) {
      grid-column: span 3;
    }

    @media screen and (width < 30em) {
      grid-column: 1/ -1;
    }
  }
</style>
