---
import MyLayout from "./MyLayout.astro";
const { title } = Astro.props;
---

<MyLayout title={title}>
  <main>
    <slot />
  </main>
</MyLayout>

<style>
  main {
    padding-block-start: 4rem;
    padding: 2rem;
    max-width: 85ch;
  }
</style>
