---
import MyLayout from "./MyLayout.astro";
import Footer from "@/components/Footer.astro";
const { title } = Astro.props;
---

<MyLayout title={title}>
  <main>
    <slot />
  </main>

    <Footer />
</MyLayout>

<style>
  main {
    padding: 5rem 2rem;
    max-width: 85ch;
  }
</style>
