---
import Navbar from "@components/Navbar.astro";

import BaseHead from "@components/BaseHead.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="script" />
  </head>

  <body>
    <Navbar />
    <slot />
  </body>
</html>
