---
import Navbar from "@components/Navbar.astro";
import BaseHead from "@components/BaseHead.astro";

const {
  title,
  description = "Hello, I'm Efraim. Welcome to my personal little corner of the internet!",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="script" />
  </head>

  <body>
    <Navbar />
    <slot />
    <script
      defer
      is:inline
      src="https://cloud.umami.is/script.js"
      data-website-id="3548c951-5cf3-4726-829c-b1da48c638f5"></script>
  </body>
</html>
