---
import Navbar from "@components/Navbar.astro";

import BaseHead from "@components/BaseHead.astro";

const {
  title,
  description = "Hello, I'm Efraim. Welcome to my personal little corner of the internet!",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="script" />
  </head>

  <body>
    <Navbar />
    <slot />
  </body>
</html>
