---
import MyLayout from "../layouts/MyLayout.astro";
const { frontmatter } = Astro.props;
---

<MyLayout title={frontmatter.title}>
  <header>
    <h1>{frontmatter.title}</h1>
    <div class="metadata">
      <p>Written by {frontmatter.author}</p>
      <p>{frontmatter.pubDate.substring(0, 10)}</p>
    </div>
  </header>

  <main>
    <slot />
  </main>
</MyLayout>

<style>
  header {
    padding: 2rem;
  }
</style>
